/* Import de todos los archivos de scss */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(233, 226, 148) 100%);
}
header .navbar-toggler {
  /*  background-color: rgb(135, 212, 222); */
  background-color: aqua;
  box-decoration-break: slice;
}

/* Pseudoclase :visited */
#link a:visited {
  color: purple;
}

/* Alineacion del Banner principal */
.banner {
  background-image: url(../assets/banner2.png);
  background-size: cover;
  width: 100%;
  height: 20vh;
}
.banner h1 {
  color: white;
  font-family: serif;
  text-align: center;
  padding: 40px;
  text-shadow: 2px 3px 5px yellow;
}

/* Aca va a estar todo lo global -- que se repite en todas las paginas */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  text-align: justify;
}

h2 {
  text-align: center;
  font-family: serif;
  margin: 10px;
  padding: 10px;
  /*  padding: 15px; */
}

h3 {
  text-align: left;
  font-family: serif;
  color: black;
  margin-top: 20px;
}

@keyframes efecto-img {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*  aca entre medio irian las pages  */
/* imagen de Wes Anderson */
.wesFoto {
  display: flex;
  margin-top: 50px;
  width: 350px;
  height: 350px;
  border-radius: 80%;
}

.cards {
  text-align: justify;
  padding-top: 80px;
  /* column-gap: 50px; */
}
.cards .colorCards {
  width: 300px;
  padding: 0%;
  margin-top: 100px;
  align-items: center;
}
.cards .colorCards:hover {
  animation-name: efecto-img;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}
.cards .titulo-cartas {
  font-weight: bold;
  text-align: center;
  font-family: serif;
  /*  padding-top: 5px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Imagen de colores */
h5 {
  color: black;
  text-align: center;
}

i {
  font-size: 50px;
  /*  position: fixed; */
}

.vermas-boton {
  border-color: palevioletred;
  background-color: white;
  color: palevioletred;
  padding: 4px;
}
.vermas-boton a {
  text-decoration: none;
  color: palevioletred;
}

/* Pseudo clase: active */
button:active {
  background-color: palevioletred;
  color: white;
}

.wes-pop {
  padding-top: 40px;
  padding-left: 40px;
  width: 90%;
  height: 90%;
}

.acercade {
  padding-right: 30px;
  margin-right: 30px;
}

.grid-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, 1fr);
  /* espacio entre las filas  */
  /* row-gap: 50px; */
  column-gap: 25px;
  /*  Grid areas es mas visual */
  grid-template-areas: "video video texto texto" "titulo2 titulo2 titulo2 titulo2" "img1 img2 img3 img4";
}

.grid-item {
  /* border: 1px solid black; */
  margin-top: 70px;
  padding: 10px;
  text-align: justify;
}
.grid-item #imgColor {
  width: 350px;
  height: 300px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding-top: 30px;
}

.video {
  grid-area: video;
  width: auto;
  height: cover;
  margin-left: 5px;
}

.budapest-img {
  grid-area: img1;
}

.french-img {
  grid-area: img2;
}

.asteroid-img {
  grid-area: img3;
}

.chevallier-img {
  grid-area: img4;
  justify-content: center;
}

.texto-color {
  grid-area: texto;
  padding-right: 70px;
  padding-left: 5px;
}

.table {
  padding-top: 40px;
  padding-bottom: 10px;
}
.table thead {
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}

h4 {
  color: white;
  /* background-color: rgb(211, 139, 199); */
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  padding-bottom: 5px;
  font-family: serif;
}

.img-premios {
  width: 300px;
  height: auto;
}

.titulos-premios {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-filmo {
  padding-top: 20px;
  padding-bottom: 30px;
}

.carousel-img {
  height: 410px;
  width: 150px;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 0px;
}

footer {
  padding: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  background: rgb(238, 174, 202);
  background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(233, 226, 148) 100%);
  font-family: serif;
  /*  opacity: .6; */
}
footer .Copyright {
  color: black;
  text-align: left;
  position: relative;
}
footer i {
  position: relative;
  left: 90%;
  font-size: 40px;
}

/* media queries tiene que quedar al final */
@media screen and (max-width: 700px) {
  h3 {
    font-size: 13px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
    /*  Grid areas es mas visual */
    grid-template-areas: "video video" "texto texto" "img1 img2" "img3 img4";
  }
  .grid-item {
    /* border: 1px solid black; */
    margin-top: 5px;
    padding: 10px;
  }
  .grid-item #imgColor {
    width: auto;
    height: 150px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* padding-top: 10px; */
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .video {
    width: cover;
    height: auto;
    margin-left: 10px;
  }
  .texto-color {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .img-premios {
    /* width: 100px;
    height:auto; */
    display: none;
  }
  footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-family: serif;
  }
  footer .Copyright {
    text-align: left;
    position: relative;
    font-size: medium;
  }
  footer i {
    font-size: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
