/* Reseteo del navegador */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header nav, .listaMenu li  {
    display: inline-block;
   
} */
header{     
    position: sticky;
    top:0;
    z-index: 100;  
    background-color: aliceblue;   
}
/* elementos del menu de navegacion */
/*  ul li a{
    text-decoration: none;
    color: black;
    list-style: none;
    margin: 15px;
} */ 
 /* Pseudoclase :visited */
 #link a:visited{
    color: purple;
 }
/* Alineacion del Banner principal */
.banner {
    background-image: url(../assets/banner2.png);
    background-size: cover;
    width: 100%;
    height: 20vh;

}

h1{
    color: white;
    font-family: serif;
    text-align: center;
    padding: 40px;
    text-shadow: 2px 3px 5px yellow;
    
}
h2{
    text-align: center;
    font-family: serif;
    margin: 10px;
    padding: 10px;
   /*  padding: 15px; */
}
h3{
    color: black;
    font-family: serif;
    text-align: left;
    padding: 20px;
    margin-top: 10px;
}
/* alineacion de la foto + el texto */
.introWes {
    display: flex;
  /*  background-color: aqua; */
   text-align: justify;
   padding: 20px;
   margin: 10px;
   width: 80%;
   margin-left: 100px;
   align-items: center;
   column-gap: 30px;
   
}

/* imagen de Wes Anderson */
.wesFoto{
    display: flex;
    margin-top: 100px;
    width: 250px;
    height: 250px;
    align-items: center;
}

.cards{
    text-align: justify;
    
    /* column-gap: 50px; */

}
/* Imagen de colores */
.colorCards{
    width: 300px;
    padding: 0%;
    margin-top: 50px;
    align-items: center;
}
h5{
    color: black;
    text-align: center;
   

}
i{
    font-size: 50px;
   /*  position: fixed; */
}
button{
    border-color: palevioletred;
    background-color: white;
    color: palevioletred;
    padding: 4px;
}
/* Pseudo clase: active */
button:active{
    background-color: palevioletred;
    color: white;
}
/* ------------------------------------Pagina Acerca de estilos--------------------------------------------------------------------- */

.wes-pop{
    padding-top: 10px;
    width: 90%;
    height: 90%;
}


/* ------------------------------------Pagina El color estilos--------------------------------------------------------------------- */


/* .introColores{
    display: flex;
    background-color: rgb(86, 164, 203);
} */

.grid-container{
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(4,1fr);
    /* espacio entre las filas  */
    /* row-gap: 50px; */
    column-gap: 5px;
   /*  Grid areas es mas visual */
   grid-template-areas: 
   'video video texto texto'
   'titulo2 titulo2 titulo2 titulo2'
   'img1 img2 img3 img4';

}

  

.grid-item{
    /* border: 1px solid black; */
    margin-top: 70px;
    padding: 10px;
    text-align: justify;

    
}

.video{
    grid-area: video;
    width: cover;
    height:cover ;
    margin-left: 80px;
}

.budapest-img{
        grid-area: img1; 
}
.french-img{
    grid-area: img2;
}
.asteroid-img{
    grid-area: img3;
}
.chevallier-img{
    grid-area: img4;
    justify-content: center;
}

#imgColor{
    
    width: 350px;
    height: 300px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    
}
.texto-color{
    grid-area: texto;
    padding-right: 70px;
}
/* p{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
  
} */

.iconos{
    width: 100px;
}

footer{
    padding: 20px;
    margin-top: 20px;
}
p{
    font-family: serif;
}

/*---------------- PAGINA PREMIOS----------------- */

.tablas{
    /* border: 1px solid black; */
    /* background-color: pink; */
    border-left: 1px solid black;
    
}
h4{
    color: white;
    background-color: rgb(211, 139, 199);
    padding-bottom: 5px;
}
.img-premios{
    width: auto;
    height: 300px;
   
}