.text-filmo{
    padding-top: 20px;
    padding-bottom: 30px;
   
}

.carousel-img{
    
    height: 410px;
    width: 150px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 0px;

}