

/* imagen de Wes Anderson */
.wesFoto{
    display: flex;
    margin-top: 100px;
    width: 250px;
    height: 250px;
 
}



.cards{
    text-align: justify;
    padding-top: 80px;
    
    /* column-gap: 50px; */
    .colorCards{
        width: 300px;
        padding: 0%;
        margin-top: 100px;
        align-items: center;
    }
    
    .titulo-cartas{
        font-weight: bold;
        text-align: center;
        font-family: $tipo-titulo;
       /*  padding-top: 5px; */
        @include general-padding(10px,10px);
    }


}
/* Imagen de colores */

h5{
    color: black;
    text-align: center;
   

}
i{
    font-size: 50px;
   /*  position: fixed; */
}
.vermas-boton{
    border-color:$color-boton;
    background-color: white;
    color:$color-boton;
    padding: 4px;

    a{
        text-decoration: none;
        color: $color-boton;
    }
    
    
   
}
/* Pseudo clase: active */
button:active{
    background-color: $color-boton;
    color: white;
}