.tablas{
    /* border: 1px solid black; */
    /* background-color: pink; */
    border-left: 1px solid black;
    row-gap: 20px;

   
}
h4{
    color: white;
    background-color: rgb(211, 139, 199);
    padding-bottom: 5px;
}
.img-premios{
    width: auto;
    height: 300px;
   
}

.titulos-premios{
    margin-top: 20px;
    margin-bottom: 20px;
}