.text-filmo{

    @include general-padding (20px,30px);
    column-gap: 50px;


   
}
.carousel{
    margin-left: 50px;
}
.carousel-img{
    
    height: 400px;
    width: 100px;
    padding-top: 0px;

}

.card{
    margin-left: 100px;

    .card-img-top{
        height: 300px;
        width: auto;

    }
}
.card-body{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,226,148,1) 100%);

    .card-title{
        color: aliceblue;
    }
    
    .card-text{
        height: 200px;
    }

    .card-link{
        text-decoration: none;
       #link a:visited{
            color: purple;
        }
    }
}