/* Aca va a estar todo lo global -- que se repite en todas las paginas */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    text-align: justify;
    
}
h2{
    text-align: center;
    font-family: $tipo-titulo;
    margin: 10px;
    padding:10px;
   /*  padding: 15px; */
}

h3{
    text-align: left;
    font-family: $tipo-titulo;
    color: black;
    margin-top: 20px;

}

