footer{
    padding: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,226,148,1) 100%);
    font-family: $tipo-titulo;
   /*  opacity: .6; */
   
    

    .Copyright{
        color: black;
        text-align: left;
        position: relative;
        
        
       
    
    }

    i{
       
       position: relative;
       left: 90%;
       font-size: 40px;

    }

   
}

