footer{
    padding: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 195,0,0.6);
    font-family: $tipo-titulo;
   /*  opacity: .6; */
   
    

    h6{
        color: black;
        text-align: left;
        position: relative;
        
        
       
    
    }

    i{
       
       position: relative;
       left: 90%;
       font-size: 40px;

    }

   
}

