footer{
    padding: 20px;
    margin-top: 20px;
    

    h6{
        color: black;
        text-align: left;
        padding-top: 30px;
        position: relative;
        
        
       
    
    }

    i{
       
       position: relative;
       left: 90%;
       font-size: 50px;

    }
}